# `prettier` requires nodejs
# `pre-commit` requires git
# alpine linux has a package for `delta` while debian does not
# I could apk install nodejs but it's faster to just use that as the base image
pre-commit:
  image: node:current-alpine
  stage: test
  script:
    - apk add delta git git-lfs pre-commit py3-clustershell
    - git lfs install --local
    - pre-commit run --all-files --color always || touch .pre-commit-ci-failed
    - (git diff --color=always | DELTA_PAGER=none delta) || touch .pre-commit-ci-failed
    - if [ -f .pre-commit-ci-failed ]; then echo 'did you run `pre-commit install`?'; exit 1; fi

todos_fixmes:
  image: alpine
  script:
    - apk add ripgrep curl
    - todo_count="$(rg -g '!.gitlab-ci.yml' TODO . | wc -l)"
    - fixme_count="$(rg -g '!.gitlab-ci.yml' FIXME . | wc -l)"
    - curl "https://shields.io/badge/TODOs-$todo_count-blue" > todos.svg
    - curl "https://shields.io/badge/FIXMEs-$fixme_count-red" > fixmes.svg
  artifacts:
    paths:
      - todos.svg
      - fixmes.svg
    expire_in: 1 day
