# `prettier` requires nodejs
# `pre-commit` requires git
# alpine linux has a package for `delta` while debian does not
# I could apk install nodejs but it's faster to just use that as the base image
pre-commit:
  image: node:current-alpine
  script:
    - apk add git pre-commit
    - pre-commit run --all-files --color always --show-diff-on-failure

pytest:
  image: python:latest
  script:
    - (cd test && PYTHONPATH="$(dirname "$PWD")" python -m unittest test*)
